<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SteamworksSharp" version="1.0.8" targetFramework="net471" />
  <package id="SteamworksSharp.Native" version="1.0.8" targetFramework="net471" />
  <package id="SteamworksSharp.Native.Windows_x64" version="1.0.8" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net471" />
</packages>